
nav {
  backdrop-filter: blur(10px);
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.text-teal-400 {
  color: #38b2ac;
}

button {
  padding: 10px 20px;
  background: transparent;
  border: none;
  font-size: 1.25rem;
}

button:hover {
  color: #38b2ac;
}

  nav a:hover, 
  nav button:hover, 
  nav a.active, 
  nav button.active {
    color: #bfff00; 
    text-shadow: 0 0 10px #8a2be2; 
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  